0001-Revert-src-Move-DLOPEN_LIBS-to-libraries-introducing.patch
0002-Revert-Fix-link-errors-in-tools-nss-and-tests.patch
0003-Revert-remote-daemon-Make-sure-that-JSON-symbols-are.patch
0004-Revert-util-jsoncompat-Stub-out-virJSONInitialize-wh.patch
0005-Revert-tests-qemucapsprobe-Fix-output-after-switchin.patch
0006-Revert-util-avoid-symbol-clash-between-json-librarie.patch
0007-Revert-tests-also-skip-qemuagenttest-with-old-jansso.patch
0008-Revert-m4-Introduce-STABLE_ORDERING_JANSSON.patch
0009-Revert-build-require-Jansson-if-QEMU-driver-is-enabl.patch
0010-Revert-build-switch-with-qemu-default-from-yes-to-ch.patch
0011-Revert-Remove-virJSONValueNewStringLen.patch
0012-Revert-build-remove-references-to-WITH_YAJL-for-SETU.patch
0013-Revert-Remove-functions-using-yajl.patch
0014-Revert-Switch-from-yajl-to-Jansson.patch
0015-Revert-build-undef-WITH_JANSSON-for-SETUID_RPC_CLIEN.patch
0016-Revert-build-add-with-jansson.patch
libvirtd.conf.d
libvirtd-guests.conf.d
libvirt.install
libvirt.sysusers.d
pkg
PKGBUILD
PKGBUILD.local
src
.svn
libvirt-git_*.pkg.tar.xz
